/* font */

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Jost", sans-serif;
  background-color: #d0d0d052;
}
header {
  padding: 24px;
}
header h1 {
  text-align: center;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 2rem;
}

header {
  background-color: #222;
  color: white;
  padding: 1rem 2rem;
}
